.login-part {
    width: 430px;
    height: 500px;
    background-color: #ecf0f3;
    padding: 60px 35px 35px 35px;
    border-radius: 40px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
  }
  

  
  .title {
    text-align: center;
    font-size: 28px;
    padding-top: 10px;
  }
  
  .fields {
    width: 100%;
    padding: 75px 5px 5px 5px;
  }
  
  .fields input {
    width:70%;
    border:none;
    outline: none;
    background: none;
    font-size: 18px;
    padding: 2px;
  }
  
  .username,
  .password {
    margin-bottom: 30px;
    box-shadow: 8px 8px 8px #cbced1, -8px -8px 8px #fff;
    border-radius: 25px;
  }
  
  .svg-icon {
    height: 22px;
    margin: 0 10px -4px 25px;
  }
  
  .login-button {
    width: 100%;
    height: 60px;
    border: none;
    cursor: pointer;
    background: #02c8db;
    color: #fff;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #fff;
    transition: all 0.4s ease-in;
  }
  
  .login-button:hover {
    background: #50e5b9;
    font-size: 25px;
  }
  
  .link {
    padding-top: 20px;
    text-align: center;
  }
  
  .link a {
    text-decoration: none;
    color: #aaa;
  }
  